<div class="container">
    <div class="col-md-12 col-xs-12">
        <div class="form-group col-md-8 col-xs-12">
            <input type="text" class="form-control" placeholder="Procurar" [(ngModel)]="search">

            <select class="form-control" #criterio>
                <option value="nome">Nome</option>
                <option value="data_inicio">Data de Inicio</option>
            </select>
        </div>
    </div>

    <h3>Todos os Projectos</h3>
    <div class="grid grid-pad">
        <div *ngFor="let projecto of (projectos | filtro:criterio.value:search)" class="col-md-4">
            <div class="module hero" (click)="gotoDetail('projecto',projecto.id)">
                <h4>{{projecto.nome}}</h4>
                <p>{{projecto.estado}}</p>
            </div>

            <h5 *ngIf="projecto.membros.length > 0">Membros</h5>
            <ul class="heroes center">
                <li
                        *ngFor="let membro of projecto.membros"
                        [class.selected]="membro === selectedMembro"
                        (click)="gotoDetail('membro',membro.id)">
                    <span class="badge">{{membro.id}}</span> {{membro.nome}}


                </li>
            </ul>
        </div>
    </div>
</div>