<div *ngIf="projecto && !creating" class="container">
    <h3>{{projecto.nome}}</h3>
    <div class="col-md-4 form-group">
        <div>
            <label>Nome: </label>
            <input class="form-control" [(ngModel)]="projecto.nome" placeholder="nome do projecto"/>
        </div>

        <div>
            <label>Dt. Inicio:</label>
            <input [(ngModel)]="projecto.data_inicio" type="date" class="form-control"/>
        </div>

        <div>
            <label>Dt. Fim:</label>
            <input [(ngModel)]="projecto.data_fim" type="date" class="form-control"/>
        </div>

        <div>
            <label>Estado: </label>
            <select [(ngModel)]="projecto.estado" class="form-control">
                <option disabled>Selecione o Estado</option>
                <option value="Em Execucao">Em Execução</option>
                <option value="Em Pausa">Em Pausa</option>
            </select>
        </div>

        <button (click)="voltar()" class="btn btn-default">Voltar</button>
        <button (click)="save()"
                class="btn btn-primary">Actualizar
        </button>
    </div>
</div>


<div *ngIf="!projecto" class="container">

    <div class="col-md-4 form-group">
        <div>
            <label>Nome: </label>
            <input #nome class="form-control" placeholder="nome do projecto"/>
        </div>


        <div>
            <label>Dt. Inicio:</label>
            <input #data_inicio type="date" class="form-control"/>
        </div>

        <div>
            <label>Dt. Fim:</label>
            <input #data_fim type="date" class="form-control"/>
        </div>

        <div>
            <label>Estado: </label>
            <select class="form-control" #estado>
                <option disabled>Selecione o Estado</option>
                <option value="Em Execucao">Em Execução</option>
                <option value="Em Pausa">Em Pausa</option>
            </select>
        </div>

        <button (click)="voltar()" class="btn btn-default">Voltar</button>
        <button (click)="add(nome.value,data_inicio.value,data_fim.value,estado.value)"
                class="btn btn-primary">Guardar
        </button>
    </div>
</div>
