<div class="container">
    <div class="col-md-12 col-xs-12">
        <div class="form-group col-md-8 col-xs-12">
            <input type="text" class="form-control" placeholder="Procurar" [(ngModel)]="search">

            <select class="form-control" #criterio>
                <option value="nome">Nome</option>
                <option value="cargo">Cargo</option>
                <option value="departamento">Departamento</option>
            </select>
        </div>
    </div>

    <h3>Todos os Membros</h3>
    <a class="btn btn-primary glyphicon glyphicon-plus" (click)="create()"></a>
    <div class="grid grid-pad" *ngIf="membros">
        <div *ngFor="let membro of (membros | filtro:criterio.value:search) " (click)="gotoDetail(membro)" class="col-md-4">
            <div class="module hero">
                <h4>{{membro.nome}}</h4>
                <p>{{membro.cargo}}</p>
                <p>{{membro.tarefas.length+" Tarefas"}}</p>
            </div>
            <h5 *ngIf="membro.tarefas.length > 0">Tarefas</h5>
            <ul class="heroes">
                <li
                        *ngFor="let tarefa of membro.tarefas"
                        [class.selected]="tarefa === selectedTarefa"
                        (click)="onSelect(tarefa)">
                    <span class="badge">{{tarefa.id}}</span> {{tarefa.titulo}}

                </li>
            </ul>
        </div>
    </div>
</div>